Repository sungam3r/graphql-introspection-model, changes with the labels that .github/labeler.yml gives for each.
All labels: SDL, tests, CI, code style, documentation

tweak build
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel/GraphQL.IntrospectionModel.csproj
Labels: tests, CI

tweak build (#30)
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel/GraphQL.IntrospectionModel.csproj
Labels: tests, CI

CI tweaks
  .github/workflows/label.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  README.md
Labels: CI, documentation

CI tweaks (#31)
  .github/workflows/label.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  README.md
Labels: CI, documentation

Upload Nuget packages as release artifacts + FUNDING
  .github/FUNDING.yml
  .github/workflows/publish-release.yml
  README.md
  src/GraphQL.IntrospectionModel.sln
Labels: CI, documentation

Upload Nuget packages as release artifacts + FUNDING (#35)
  .github/FUNDING.yml
  .github/workflows/publish-release.yml
  README.md
  src/GraphQL.IntrospectionModel.sln
Labels: CI, documentation

CI tweaks: add API approval tests, CodeQL analysis, LGTM badges, dotnet-format check, fix labeler
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  README.md
  src/GraphQL.IntrospectionModel.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.IntrospectionModel.Tests/Approval/GraphQL.IntrospectionModel.approved.txt
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.sln
Labels: tests, CI, documentation

apply dotnet format
  src/GraphQL.IntrospectionModel.Tests/GraphQLSchemaTests.cs
  src/GraphQL.IntrospectionModel/GraphQLArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLDirective.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveLocation.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveUsage.cs
  src/GraphQL.IntrospectionModel/GraphQLEnumValue.cs
  src/GraphQL.IntrospectionModel/GraphQLField.cs
  src/GraphQL.IntrospectionModel/GraphQLFieldType.cs
  src/GraphQL.IntrospectionModel/GraphQLInputField.cs
  src/GraphQL.IntrospectionModel/GraphQLNamedObject.cs
  src/GraphQL.IntrospectionModel/GraphQLRequestType.cs
  src/GraphQL.IntrospectionModel/GraphQLSchema.cs
  src/GraphQL.IntrospectionModel/GraphQLType.cs
  src/GraphQL.IntrospectionModel/GraphQLTypeDescriptor.cs
  src/GraphQL.IntrospectionModel/GraphQLTypeKind.cs
  src/GraphQL.IntrospectionModel/IDeprecatable.cs
  src/GraphQL.IntrospectionModel/IHasDescription.cs
  src/GraphQL.IntrospectionModel/IHasDirectives.cs
  src/GraphQL.IntrospectionModel/IntrospectionQuery.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilderOptions.cs
Labels: SDL, tests

CI tweaks: add API approval tests, CodeQL analysis, LGTM badges, dotnet-format check, fix labeler (#38)
  .github/workflows/codeql-analysis.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  README.md
  src/GraphQL.IntrospectionModel.Tests/Approval/ApiApprovalTests.cs
  src/GraphQL.IntrospectionModel.Tests/Approval/GraphQL.IntrospectionModel.approved.txt
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.Tests/GraphQLSchemaTests.cs
  src/GraphQL.IntrospectionModel.sln
  src/GraphQL.IntrospectionModel/GraphQLArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLDirective.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveLocation.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveUsage.cs
  src/GraphQL.IntrospectionModel/GraphQLEnumValue.cs
  src/GraphQL.IntrospectionModel/GraphQLField.cs
  src/GraphQL.IntrospectionModel/GraphQLFieldType.cs
  src/GraphQL.IntrospectionModel/GraphQLInputField.cs
  src/GraphQL.IntrospectionModel/GraphQLNamedObject.cs
  src/GraphQL.IntrospectionModel/GraphQLRequestType.cs
  src/GraphQL.IntrospectionModel/GraphQLSchema.cs
  src/GraphQL.IntrospectionModel/GraphQLType.cs
  src/GraphQL.IntrospectionModel/GraphQLTypeDescriptor.cs
  src/GraphQL.IntrospectionModel/GraphQLTypeKind.cs
  src/GraphQL.IntrospectionModel/IDeprecatable.cs
  src/GraphQL.IntrospectionModel/IHasDescription.cs
  src/GraphQL.IntrospectionModel/IHasDirectives.cs
  src/GraphQL.IntrospectionModel/IntrospectionQuery.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilderOptions.cs
Labels: SDL, tests, CI, documentation

Schema description, AppliedDirectives, IsRepeatable, .NET 5 SDK, codecov integration, dotnet-format
  .editorconfig
  .github/workflows/label.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  README.md
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.IntrospectionModel.Tests/Approval/GraphQL.IntrospectionModel.approved.txt
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.sln
  src/GraphQL.IntrospectionModel/GraphQL.IntrospectionModel.csproj
  src/GraphQL.IntrospectionModel/GraphQLAppliedDirective.cs
  src/GraphQL.IntrospectionModel/GraphQLDirective.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLNamedObject.cs
  src/GraphQL.IntrospectionModel/GraphQLSchema.cs
  src/GraphQL.IntrospectionModel/GraphQLType.cs
  src/GraphQL.IntrospectionModel/IHasDirectives.cs
  src/GraphQL.IntrospectionModel/IntrospectionQuery.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilder.cs
Labels: SDL, tests, CI, code style, documentation

add coverlet
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests

fix path
  .github/workflows/test.yml
Labels: CI

Schema description, AppliedDirectives, IsRepeatable, .NET 5 SDK, codecov integration, dotnet-format (#41)
  .editorconfig
  .github/workflows/label.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  README.md
  src/Directory.Build.props
  src/Directory.Build.targets
  src/GraphQL.IntrospectionModel.Tests/Approval/GraphQL.IntrospectionModel.approved.txt
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.sln
  src/GraphQL.IntrospectionModel/GraphQL.IntrospectionModel.csproj
  src/GraphQL.IntrospectionModel/GraphQLAppliedDirective.cs
  src/GraphQL.IntrospectionModel/GraphQLDirective.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLNamedObject.cs
  src/GraphQL.IntrospectionModel/GraphQLSchema.cs
  src/GraphQL.IntrospectionModel/GraphQLType.cs
  src/GraphQL.IntrospectionModel/IHasDirectives.cs
  src/GraphQL.IntrospectionModel/IntrospectionQuery.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilder.cs
Labels: SDL, tests, CI, code style, documentation

Add codecov badge
  README.md
Labels: documentation

Fix for double quotes in default values for arguments, fields and directives. New OmitBuiltInScalars option.
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.Tests/Approval/GraphQL.IntrospectionModel.approved.txt
  src/GraphQL.IntrospectionModel.Tests/GraphQLSchemaTests.cs
  src/GraphQL.IntrospectionModel.Tests/test1.graphql
  src/GraphQL.IntrospectionModel.Tests/test1.json
  src/GraphQL.IntrospectionModel/GraphQLArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLInputField.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilder.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilderOptions.cs
Labels: SDL, tests

Fix for double quotes in default values for arguments, fields and directives. New OmitBuiltInScalars option. (#43)
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.Tests/Approval/GraphQL.IntrospectionModel.approved.txt
  src/GraphQL.IntrospectionModel.Tests/GraphQLSchemaTests.cs
  src/GraphQL.IntrospectionModel.Tests/test1.graphql
  src/GraphQL.IntrospectionModel.Tests/test1.json
  src/GraphQL.IntrospectionModel/GraphQLArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLDirectiveArgument.cs
  src/GraphQL.IntrospectionModel/GraphQLInputField.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilder.cs
  src/GraphQL.IntrospectionModel/SDL/SDLBuilderOptions.cs
Labels: SDL, tests

.github/labeler.yml:

"SDL":
  - src/GraphQL.IntrospectionModel/SDL/*

"tests":
  - src/GraphQL.IntrospectionModel.Tests/**/*

"CI":
  - .github/workflows/**/*

"code style":
  - .editorconfig

"documentation":
  - README.md
