Repository sungam3r/graphql-introspection-model, changes with the labels that .github/labeler.yml gives for each.
All labels: SDL, tests, CI, code style, documentation

Simplify code coverage
  .github/workflows/test.yml
  README.md
  src/Directory.Build.targets
Labels: CI, documentation

1
  src/GraphQL.IntrospectionModel.sln
Labels: none

Simplify code coverage (#166)
  .github/workflows/test.yml
  README.md
  src/Directory.Build.targets
  src/GraphQL.IntrospectionModel.sln
Labels: CI, documentation

Fix tests
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.Tests/Introspection/Schema/Subscription.cs
Labels: tests

--no-build
  .github/workflows/test.yml
Labels: CI

--no-build
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
Labels: CI

Use SourceLink from SDK
  src/Directory.Build.props
Labels: none

Fix dependabot path
  .github/dependabot.yml
Labels: CI

NET9 SDK
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests, CI

NET9 SDK (#186)
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests, CI

bump
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.Tests/Introspection/Schema/Query.cs
Labels: tests

fixes
  src/GraphQL.IntrospectionModel.Tests/ASTConverterTests.cs
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/classic.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/classic_draft.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/modern.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/modern_draft.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/deprecations.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/directives.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/enums.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/enums_without_directives.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/escaped.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/interfaces.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/person.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/scalars.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/test1.graphql
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests

Use new array syntax
  src/GraphQL.IntrospectionModel.Tests/ASTConverterTests.cs
  src/GraphQL.IntrospectionModel/SDL/ASTConverter.Collections.cs
  src/GraphQL.IntrospectionModel/SDL/ASTConverter.cs
Labels: SDL, tests

Bump GraphQL.SystemTextJson and GraphQL.MicrosoftDI from 7.8.0 to 8.2.1 (#193)
  src/GraphQL.IntrospectionModel.Tests/ASTConverterTests.cs
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/classic.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/classic_draft.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/modern.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/Introspection/modern_draft.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/deprecations.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/directives.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/enums.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/enums_without_directives.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/escaped.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/interfaces.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/person.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/scalars.graphql
  src/GraphQL.IntrospectionModel.Tests/Files/test1.graphql
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.Tests/Introspection/Schema/Query.cs
Labels: tests

NET10
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests, CI

fix
  .editorconfig
Labels: code style

NET10 (#221)
  .editorconfig
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests, CI, code style

sln -> slnx
  src/GraphQL.IntrospectionModel.sln
  src/GraphQL.IntrospectionModel.slnx
Labels: none

sln -> slnx (#230)
  src/GraphQL.IntrospectionModel.sln
  src/GraphQL.IntrospectionModel.slnx
Labels: none

Migrate to globalconfig + DotNetProjectFile.Analyzers
  .editorconfig
  .globalconfig
  assets/icon.png
  assets/logo.64x64.png
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.slnx
  src/GraphQL.IntrospectionModel/GraphQL.IntrospectionModel.csproj
Labels: tests, code style

Migrate to globalconfig + DotNetProjectFile.Analyzers (#245)
  .editorconfig
  .globalconfig
  assets/icon.png
  assets/logo.64x64.png
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.slnx
  src/GraphQL.IntrospectionModel/GraphQL.IntrospectionModel.csproj
Labels: tests, code style

Migrate to xunit.v3
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
Labels: tests

.github/labeler.yml:

SDL:
- changed-files:
  - any-glob-to-any-file:
    - src/GraphQL.IntrospectionModel/SDL/*

tests:
- changed-files:
  - any-glob-to-any-file:
    - src/GraphQL.IntrospectionModel.Tests/**/*

CI:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*
    - .github/dependabot.yml
    - .github/labeler.yml
    - .github/codecov.yml

code style:
- changed-files:
  - any-glob-to-any-file:
    - .editorconfig

documentation:
- changed-files:
  - any-glob-to-any-file:
    - README.md
