Repository sungam3r/graphql-introspection-model, changes with the labels that .github/labeler.yml gives for each.
All labels: SDL, tests, CI

add action
  .github/workflows/publish-preview.yml
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.sln
Labels: CI

fix
  .github/workflows/publish-preview.yml
Labels: CI

Add publish preview action (#20)
  .github/workflows/publish-preview.yml
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.sln
Labels: CI

Add token to env
  .github/workflows/publish-preview.yml
Labels: CI

Add token to env (#21)
  .github/workflows/publish-preview.yml
Labels: CI

add publish release action
  .github/workflows/publish-release.yml
  README.md
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.Tests/GraphQLSchemaTests.cs
  src/GraphQL.IntrospectionModel.sln
Labels: tests, CI

try remmove token
  .github/workflows/publish-preview.yml
Labels: CI

Add 'publish' action (#22)
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  README.md
  src/GraphQL.IntrospectionModel.Tests/GraphQL.IntrospectionModel.Tests.csproj
  src/GraphQL.IntrospectionModel.Tests/GraphQLSchemaTests.cs
  src/GraphQL.IntrospectionModel.sln
Labels: tests, CI

fix action
  .github/workflows/publish-release.yml
Labels: CI

fix action (#23)
  .github/workflows/publish-release.yml
Labels: CI

test action changes
  .github/workflows/publish-release.yml
  src/Directory.Build.props
Labels: CI

test action changes (#24)
  .github/workflows/publish-release.yml
  src/Directory.Build.props
Labels: CI

revert -k option
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
Labels: CI

trigger CI
  src/GraphQL.IntrospectionModel/GraphQLTypeKind.cs
Labels: none

revert -k option (#25)
  .github/workflows/publish-preview.yml
  .github/workflows/publish-release.yml
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel/GraphQLTypeKind.cs
Labels: CI

add sourcelink
  src/Directory.Build.props
Labels: none

add sourcelink (#26)
  src/Directory.Build.props
Labels: none

add sourcelink support + editorconfig
  .editorconfig
  src/Directory.Build.props
  src/GraphQL.IntrospectionModel.sln
  src/GraphQL.IntrospectionModel/SDL/SDLBuilder.cs
Labels: SDL

.github/labeler.yml:

"SDL":
  - src/GraphQL.IntrospectionModel/SDL/*

"tests":
  - src/GraphQL.IntrospectionModel.Tests/**/*

"CI":
  - .github/workflows/**/*
